body, html{
  text-align: center;
  background-color: #000;
}
.gamespace{
  border: 2px solid blue;
  height: 700px;
  width: 900px;
  margin: 0px;
  background: url('src/space-lols.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightBlue;
}
.title{
  background-color: #777;
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.missile{
  height: 35px;
  position:absolute;
}
.spaceship{
  width: 50px;
  border-radius:10px;
  position:absolute;
}
.invader{
  width: 30px;
  position:absolute;
}
.score{
  position: absolute;
  font-size: 24px;
  color: yellow;
  left: 50%;
}
.lazer{
  height: 20px;
  position:absolute;
}
.last_score{
  top: 500px;
  left: 20px;
  position: absolute;
}