body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('src/space-lols.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  width: 25px;
  position:absolute;
}
.spaceship{
  width: 75px;
  border-radius:10px;
  position:absolute;
}
.meteor{
  width: 60px;
  position:absolute;
}