body, html{
  height: 90%;
  width: 100%;
}
body{
  margin: 0px;
  background: url('src/space-lols.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightBlue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.missile{
  width: 25px;
  position:absolute;
}
.spaceship{
  width: 50px;
  border-radius:10px;
  position:absolute;
}
.meteor{
  width: 30px;
  position:absolute;
}